/* Поле */
#field {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 550px;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;

    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);

    background-color: rgba(15, 61, 46, 0.35);
    backdrop-filter: blur(2px);
}

/* Коробки */
.box {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
}

.box-image {
    width: 100px;
}

.box.opened {
    cursor: default;
}

.present-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 8px;
}


/*  Попап поздравления */
.congrats-popup {
    background: rgba(250, 211, 178, 0.9);
    border: 2px solid #8b1e1e;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
    text-align: center;
    font-weight: bold;
    color: #8b1e1e;
    font-size: 14px;
    position: relative;
    z-index: 99999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* Сообщение */
#message {
    margin-top: 15px;
    min-height: 20px;
    color: #fff5f5;
    font-weight: bold;
}

/* Шапка и подвал */
header, footer {
    background: #0f3d2e;
    color: #ffffff;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

header {
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

footer {
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: auto;
}

/* Основной блок */
main {
    background-color: rgba(36, 9, 7, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    padding: 30px 40px;
    margin: 40px auto;
    width: 60%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.8;
    color: #ffffff;
}

/* Кнопка домой */
.home-link {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    background-color: #8b1e1e;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #6f1616;
}
