{% extends 'base.html' %}

{% block lab %}Лабораторная работа №5{% endblock %}

{% block main %}   
    <style>
        .article-block {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            background-color: #f0e2df;
            border-radius: 5px;
        }

        .article-block h2 {
            margin-top: 0;
        }

        .article-block form {
            margin: 10px;
        }

    </style>

    <h1> Статьи</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        {% for article in articles %}
            <div class="article-block">
                <h2>{{ article['title'] }}</h2>
                    {% if article['is_public'] %}
                        <div style="font-size: 0.8em; color: #285028; margin-top: -30px;">
                            Публичная статья
                        </div>
                    {% endif %}
                </h2>
                <blockquote>{{ article['article_text'] }}</blockquote>
            </div>
            
            <div style="display: inline-flex; gap: 10px;">
                <form action="/lab5/delete_article/{{ article.id }}" method="post" style="margin-right: 0;">
                    <button type="submit">Удалить</button>
                </form>
                <form action="/lab5/edit_article/{{ article.id }}" method="post" style="margin-right: 0;">
                    <button type="submit">Редактировать</button>
                </form>

                {% if article['is_favorite'] %}
                    <form action="/lab5/unfavorite/{{ article.id }}" method="post" style="margin-right: 0; margin-bottom: 20px;">
                        <button type="submit"> ❤️️ Убрать из любимых</button>
                    </form>
                {% else %}
                    <form action="/lab5/favorite/{{ article.id }}" method="post" style="margin-right: 0; margin-bottom: 20px;">
                        <button type="submit"> Добавить в любимые</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    <p><a href="/lab5/">Назад</a></p>
    
{% endblock %}