{% extends 'base.html' %}

{% block lab %}Лабораторная работа №4{% endblock %}

{% block main %}
    <style>
        form div {
            margin-bottom: 10px;
        }

        form input[type="text"],
        form input[type="password"] {
            width: 200px;  
            padding: 5px;  
        }
        .error {
            color: #b30000;
            font-weight: bold;
            font-style: italic;
        }
    </style>

    <h1>Регистрация</h1>
    <form action='/lab5/register' method="post">
        <div>
            <label>
                Логин: <input type="text" name="login">
            </label>
        </div>

        <div>
            <label>
                Реальное имя: <input type="text" name="real_name">
            </label>
        </div>

         <div>
            <label>
                Пароль: <input type="password" name="password">
            </label>
        </div>

        {% if error %}
            <div class="error"> {{ error }} </div>
        {% endif %}

        <div>
        <button type="sumbit"> Зарегистрироваться </button>
        </div>
    </form>
{% endblock %}